    @charset "utf-8";
    .lf {
        float: left;
    }
    
    .rt {
        float: right;
    }
    
    .footer {
        background: #efefef;
        margin-top: 40px;
        .container {
            .footer-help {
                height: 340px;
                .service {
                    padding: 37px 25px 0px;
                    height: 77px;
                    border-bottom: 1px solid #dddddd;
                    .common {
                        .service-icon {
                            float: left;
                            margin-top: 7px;
                        }
                        .service-describe {
                            float: left;
                            margin-left: 15px;
                            h1 {
                                font-size: 18px;
                                color: #333333;
                                line-height: 18px;
                                margin: 0;
                            }
                            p {
                                font-size: 14px;
                                line-height: 14px;
                                color: #999;
                                margin-top: 10px;
                            }
                        }
                    }
                    .service-lf {
                        float: left
                    }
                    .service-mid {
                        width: 236px;
                        margin: 0 auto
                    }
                    .service-rt {
                        float: right
                    }
                }
                .help-way {
                    margin-top: 20px;
                    padding-left: 25px;
                    .help-server {
                        width: 385px;
                        overflow: hidden;
                        dl {
                            dt {
                                line-height: 16px;
                                height: 16px;
                                margin-bottom: 18px;
                                a {
                                    font-size: 16px;
                                    color: #333333;
                                    font-weight: 500;
                                }
                            }
                            dd {
                                line-height: 30px;
                                height: 30px;
                                a {
                                    font-size: 12px;
                                    color: #999;
                                    &:hover {
                                        color: #f12020;
                                    }
                                }
                            }
                        }
                        .ml40 {
                            margin-left: 40px;
                        }
                    }
                    .help-team {
                        width: 186px;
                        margin-left: 48px;
                        .team-infor {
                            overflow: hidden;
                        }
                        .help-shop {
                            border-top: 1px solid #cccccc;
                            margin-top: 14px;
                            padding-top: 14px;
                            a {
                                font-size: 16px;
                                color: #333333;
                                line-height: 30px;
                                font-weight: 500;
                                &:hover {
                                    color: #f12020;
                                }
                            }
                        }
                    }
                    .help-tel {
                        width: 208px;
                        margin-left: 62px;
                        height: 147px;
                        border-left: 1px solid #cccccc;
                        padding-top: 4px;
                        p {
                            margin-left: 35px;
                            padding-left: 33px;
                            height: 20px;
                            line-height: 20px;
                            &:nth-of-type(1) {
                                background: url(../img/Customer-service_12.png) no-repeat left center;
                                margin-top: 13px
                            }
                            &:nth-of-type(2) {
                                background: url(../img/feedback_17.png) no-repeat left center;
                                margin-top: 13px;
                            }
                            a {
                                cursor: pointer;
                                color: #f12020;
                                font-size: 14px;
                            }
                        }
                        h1 {
                            font-size: 20px;
                            font-weight: 500;
                            color: #333333;
                            text-align: center;
                            line-height: 22px;
                            margin-bottom: 15px;
                            &:nth-of-type(1) {
                                margin-top: 26px;
                            }
                        }
                    }
                    .help-code {
                        padding: 4px 22px 0px;
                        height: 147px;
                        width: 240px;
                        border-left: 1px solid #cccccc;
                        img {
                            display: block;
                            width: 108px;
                            height: 108px
                        }
                        p {
                            font-size: 14px;
                            color: #333333;
                            line-height: 32px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .footer-statement {
            height: 224px;
            background: #333333;
            .foot-logo {
                text-align: center;
                height: 36px;
                vertical-align: middle;
                margin-bottom: 19px;
                padding-top: 20px
            }
            .foot-txt {
                p {
                    text-align: center;
                    font-size: 12px;
                    line-height: 24px;
                    color: #999999
                }
            }
            .foot-note {
                overflow: hidden;
                margin-top: 24px;
                p {
                    float: left;
                    height: 32px;
                    line-height: 32px;
                    vertical-align: middle;
                    font-size: 12px;
                    color: #999999;
                    img {
                        margin-right: 10px;
                        width: 26px;
                        height: 31px;
                    }
                }
            }
        }
    }