@charset "utf-8";
.container {
    width: 1246px;
    margin: 0 auto
}

.nav {
    height: 78px;
    .container {
        .logo {
            float: left;
            width: 239px;
            a {
                display: block;
                img {
                    display: block;
                }
            }
        }
        .nav-mid {
            float: left;
            margin-left: 40px;
            ul {
                li {
                    float: left;
                    width: 90px;
                    height: 78px;
                    line-height: 78px;
                    text-align: center;
                    &:nth-of-type(1) {
                        a {
                            color: #f12020
                        }
                    }
                    a {
                        font-size: 16px;
                        color: #333333;
                        &:hover {
                            color: #f12020
                        }
                    }
                }
            }
        }
        .search {
            height: 38px;
            width: 200px;
            border: 1px solid #e3e3e3;
            float: right;
            overflow: hidden;
            margin-top: 17px;
            input:nth-of-type(1) {
                padding-left: 10px;
                height: 38px;
                line-height: 38px;
                font-size: 14px;
                color: #a9a9a9;
                float: left;
                width: 155px;
            }
            input:nth-of-type(2) {
                width: 35px;
                height: 38px;
                background: url(../img/home-serach-btn_05.png) no-repeat left center;
                cursor: pointer;
                background-color: #fff
            }
        }
    }
}